body {
  font-family: Lora;
  background: linear-gradient(#ffffff,rgba(255,255,255,0.65));
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(241,144,184);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: rgb(241,144,184);
  border-color: #f190b8;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(241,144,184,0.5);
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(241,144,184,0.5);
}

a:hover {
  color: #ff549a;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.overlay {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.5s ease;
  background-color:rgba(0, 0, 0, 0.712);
}

.container-portfolio:hover .overlay {
  opacity:1;
  height:100%;
}

.text-portfolio, .text-portfolio-desc {
  color:white;
  font-size:16px;
  position:absolute;
  top:50%;
  left:50%;
  width:100%;
  transform:translate(-50%, -2vw);
  -ms-transform:translate(-50%, -200%);
  text-align:center;
}

.text-portfolio-desc {
  font-size:12px;
  transform:translate(-50%, 1vw);
  -ms-transform:translate(-50%, 80%);
}

.signature .left,.signature .right {
  flex: 1 0 auto;
  color:#fff;
  font-family:Raleway, sans-serif;
  font-weight: 100;
}

.signature .left {
    text-align: right
}

.signature .right {
    text-align: left
}

.signature {
    display: flex;
    justify-content: center;
}

.love {
    padding: 0 .4rem;
    animation: 1.5s heartThrob infinite;
}

.love svg {
    height: 1.75rem
}

@-moz-keyframes heartThrob {
    10% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(1.15)
    }

    60% {
        transform: scale(1)
    }
}

@-webkit-keyframes heartThrob {
    10% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(1.15)
    }

    60% {
        transform: scale(1)
    }
}

@-o-keyframes heartThrob {
    10% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(1.15)
    }

    60% {
        transform: scale(1)
    }
}

@keyframes heartThrob {
    10% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(1.15)
    }

    60% {
        transform: scale(1)
    }
}

@media (max-width: 300px) {
  #footerImg {
    margin-top: 790px !important;
  }
}

@media only screen and (max-width: 576px) {
  #footerImg {
    margin-top: 590px !important;
  }
}

@media only screen and (max-width: 768px) {
    #profilePicSqu {
        width: 45%;
    }
  
    #footerImg {
    /*margin-top: 445px !important;*/
  }
}

@media only screen and (max-width: 992px) {
    #profilePicSqu {
        width: 60%;
    }
    #footerImg {
    margin-top: 342px !important;
  }
}

@media only screen and (max-width: 1200px) {
        #profilePicSqu {
        width: 65%;
    }
}